section{
    background-color: #5CDB95;
    color:#05386B;
    display: flex;
    height: 140vh;
    justify-content: center;
    align-items: center;
}
.form-group{
    font-weight: bold;
}
.divf{
    box-shadow: 10px 10px 5px gray;
}
.btn{
    background-color:#05386B;
    color:#5CDB95;
}
.container1{
    align-items: left;
    justify-content: left;
    margin-top: 5px;
}
.profilepic{
    height:200px;
    width:200px;
}
.mainImg {
    position:fixed;
    top:-75px;
    left:-60px;
    width: 90vh;
    height: 80vh;
    margin-left: -10px;
    float: right;
    z-index: 0;
}